<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECharts Demo</title>
    <link rel="stylesheet" href="static/echarts.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/ echarts /5.0.2/echarts.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/ jquery /3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="main"></div>
    <script>
        let chart = echarts.imit(mainE1)
    </script>
</body>

</html>